.dot {
  height: 12px;
  width: 12px;
  background-color: #6497dc;
  border-radius: 50%;
  display: inline-block;
}

.modal-dialog {
  pointer-events: all;
}

.btn-secondary {
  margin-bottom: 5px;
}

li.timezone {
  margin-right: 5px;
}

#timezone-selector {
  padding-right: 2px;
}

#defcon-links {
  overflow-x: hidden;
  overflow-y: auto;
  height: 1400px;
}

#eventlist {
  overflow-x: hidden;
  overflow-y: auto;
  height: 1400px;
}

#search-btn,
#search-cancel-btn {
  border-color: #c93234;
  color: #ffffff;
}

#search-btn:hover,
#search-cancel-btn:hover {
  background-color: #c93234;
}
