.dot {
  height: 12px;
  width: 12px;
  background-color: #6497dc;
  border-radius: 50%;
  display: inline-block;
}

div.date-header {
  background: #000000;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 888;
}

.modal-dialog {
  pointer-events: all;
}

.btn-secondary {
  margin-bottom: 5px;
}

li.timezone {
  margin-right: 5px;
}

#timezone-selector,
#search-bar,
#category-selector {
  padding-right: 2px;
  font-size: 12px;
}

nav.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

#defcon-links {
  overflow-x: hidden;
  overflow-y: auto;
  height: 1400px;
}

#eventlist {
  overflow-x: hidden;
  overflow-y: auto;
  height: 1400px;
}

#search-btn,
#search-cancel-btn {
  border-color: #c93234;
  color: #ffffff;
  font-size: 12px;
}

#search-btn:hover,
#search-cancel-btn:hover {
  background-color: #c93234;
}
