.dot {
  height: 12px;
  width: 12px;
  background-color: #6497dc;
  border-radius: 50%;
  display: inline-block;
}

.modal-dialog {
  pointer-events: all;
}

.btn-secondary {
  margin-bottom: 5px;
}

#defcon-links {
  overflow-x: hidden;
  overflow-y: auto;
  height: 700px;
}

#eventlist {
  overflow-x: hidden;
  overflow-y: auto;
  height: 700px;
}
